<?xml version="1.0"?>
<configuration>
  <!-- 
    If you use the Local Native Connection, setup assembly binding redirection by
    editing this file here. For more information, visit the following links:
    
    http://trac.osgeo.org/mapguide/wiki/maestro/MaestroAPI/MapGuideDotNetApiVersions
    
    http://themapguyde.blogspot.com/2010/10/using-maestro-in-native-mode-with.html
    
    The example below (commented out) sets up MapGuideDotNetApi to redirect to 2.2
    version of the official MapGuide dlls assuming the instructions in the 2nd link
    were carried out.
    
    Note that Local Native Connection is not available for Mono.
    -->
  <!--
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="MapGuideDotNetApi" publicKeyToken="f526c48929fda856" />

                <codeBase version="1.0.0.1" href="MapGuideDotNetApi-2.2.dll"/>
                
                <bindingRedirect oldVersion="2.0.0.2308" newVersion="1.0.0.1" />

            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <!-- 
  Uncomment the section below for proxy server support. 
  
  Note this doesn't work in Mono (see http://trac.osgeo.org/mapguide/ticket/2414)  
  -->
  <!--
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  -->
</configuration>
