<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="OSGeo.MapGuide.PlatformBase" publicKeyToken="f526c48929fda856" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.8701" newVersion="3.0.0.8701"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="OSGeo.MapGuide.Geometry" publicKeyToken="f526c48929fda856" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.8701" newVersion="3.0.0.8701"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="OSGeo.MapGuide.Foundation" publicKeyToken="f526c48929fda856" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.8701" newVersion="3.0.0.8701"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="OSGeo.MapGuide.Desktop" publicKeyToken="e75f9fd7cf82dc3f" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.8701" newVersion="3.0.0.8701"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
