<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="mapguide-api-base-x86" version="2.5.2.7949" targetFramework="net40" />
    <package id="mg-desktop-net40-x86" version="2.5.2.7949" targetFramework="net40" />
    <package id="mg-desktop-viewer-net40-x86" version="2.5.2.7949" targetFramework="net40" />
</packages>