.vs
.vscode
.manifest
bin/
obj/
out/
*.CSD
Maestro/packages
artifacts/
Doc/Help
SDK/addin-bin
SDK/bin
SDK/LocalNativeProvider
SDK/MaestroAPI.chm
*.user
Reports/
Docs/build
TestResult.xml
Packages/
MgTileSeeder/publish_win
MgTileSeeder/publish_linux
Install/vcredist_x86.exe
/OpenCoverCoverage.net6.0.xml
