<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="2.16.1" targetFramework="net461" />
  <package id="DockPanelSuite.ThemeVS2003" version="2.16.1" targetFramework="net461" />
  <package id="DockPanelSuite.ThemeVS2012" version="2.16.1" targetFramework="net461" />
  <package id="DockPanelSuite.ThemeVS2013" version="2.16.1" targetFramework="net461" />
  <package id="DockPanelSuite.ThemeVS2015" version="2.16.1" targetFramework="net461" />
  <package id="TreeViewAdv" version="1.7.0.0" targetFramework="net461" />
</packages>