<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MapGuideDotNetApi" publicKeyToken="f526c48929fda856" />

			<!-- 
				NOTE: href MUST be absolute, alternative is to just rename 
			    the desired version of the file and replace MapGuideDotNetApi.dll
				
				If you choose the rename option, remove the <codeBase> tags below, 
				but keep the <bindingRedirect>
			-->
			<codeBase version="1.2.0.4103" href="MapGuideDotNetApi-1.2.dll"/> 
            <codeBase version="2.0.0.2308" href="MapGuideDotNetApi-2.0.dll"/>  
            <codeBase version="1.0.0.1" href="MapGuideDotNetApi-2.1.dll"/>
			
			<!-- Activate MGOS 1.2, MGEP 2008 -->
			<!-- <bindingRedirect oldVersion="2.0.0.2308" newVersion="1.2.0.4103" /> -->

			<!-- Activate MGOS 2.0, MGEP 2009 , *default* -->
			<!-- <bindingRedirect oldVersion="2.0.0.2308" newVersion="2.0.0.2308" /> -->

			<!-- Activate MGOS 2.1, MGEP 2010 -->
			<bindingRedirect oldVersion="2.0.0.2308" newVersion="1.0.0.1" />

		</dependentAssembly>
    </assemblyBinding>    
   </runtime>
  </configuration>
