<?xml version="1.0"?>
<configuration>
    <system.net>
        <defaultProxy>
            <proxy bypassonlocal="false" usesystemdefault="true"/>
        </defaultProxy>
    </system.net>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="MapGuideDotNetApi" publicKeyToken="f526c48929fda856"/>

                <codeBase version="1.0.0.1" href="MapGuideDotNetApi-2.2.dll"/>

                <bindingRedirect oldVersion="2.0.0.2308" newVersion="1.0.0.1"/>

            </dependentAssembly>
        	<dependentAssembly>
				<assemblyIdentity name="MapGuideDotNetApi" publicKeyToken="F526C48929FDA856" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.2308" newVersion="2.0.0.2308"/>
			</dependentAssembly>
		</assemblyBinding>
    </runtime>
</configuration>
