<?xml version="1.0"?>
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="MapGuideDotNetApi" publicKeyToken="f526c48929fda856"/>

                <codeBase version="1.0.0.1" href="MapGuideDotNetApi-2.2.dll"/>

                <bindingRedirect oldVersion="2.0.0.2308" newVersion="1.0.0.1"/>

            </dependentAssembly>
		</assemblyBinding>
    </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
