<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <!--
  Uncomment the section below for proxy server support.

  Note this doesn't work in Mono (see http://trac.osgeo.org/mapguide/ticket/2414)
  -->
    <!--
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  -->
</configuration>
