<?xml version="1.0" encoding="UTF-8"?>

<?include UpgradeData.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="$(var.ProductCode)" Name="MapGuide Maestro" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="200" Compressed="yes" Id="$(var.PackageCode)" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <PropertyRef Id="NETFRAMEWORK20"/>
    <Condition Message="The .NET Framework 2.0 must be installed ([NETFRAMEWORK20])">
      Installed OR NETFRAMEWORK20
    </Condition>

    <Property Id="ALLUSERS">1</Property>
    
    

    <WixVariable Id="WixUILicenseRtf" Value="Resources/LGPL21.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Resources/InstallerSmall.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Resources/InstallerLarge.bmp" />

    <UI>
      <!-- <UIRef Id="WixUI_Mondo"/> -->
      <!-- <UIRef Id="WixUI_InstallDir"/> -->
      <UIRef Id="WixUI_FeatureTree"/>
      <!-- <UIRef Id="WixUI_Advanced"/> -->
      <!-- <UIRef Id="WixUI_Minimal"/> -->
      
     
      <Publish Dialog="ExitDialog"
        Control="Finish"
        Event="DoAction"
        Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX and NOT Installed</Publish>
    </UI>


    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder" Name="Programs"/>
      <Directory Id="DesktopFolder" Name="Desktop"/>
      <Directory Id="ProgramFilesFolder">
		<Directory Id="OSGEOFOLDER" Name="OSGeo">
			<Directory Id="INSTALLLOCATION" Name="MapGuide Maestro">
			</Directory>
        </Directory>
      </Directory>
    </Directory>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />

    <Feature Id="ProductFeature" Title="MapGuide Maestro core files" Level="1" Description="Installs the required files for MapGuide Maestro." AllowAdvertise="no" TypicalDefault="install" InstallDefault="local" Absent="disallow" ConfigurableDirectory="INSTALLLOCATION" >
      <ComponentGroupRef Id="group_MAESTROBIN" />
    </Feature>

    <Feature Id="MaestroDesktopShortCutFeature" Title="Desktop Shortcut" Level="1" Description ="Installs a shortcut to MapGuide Maestro on the desktop" Absent="allow" AllowAdvertise="no" TypicalDefault="install" InstallDefault="local">
      <ComponentRef Id="MaestroDesktopShortcutComponent"/>
    </Feature>

    <Feature Id="MaestroProgramFilesShortCutFeature" Title="Program Files Shortcut" Level="1" Description ="Installs a shortcut to MapGuide Maestro in the Program Files menu" Absent="allow" AllowAdvertise="no" TypicalDefault="install" InstallDefault="local">
      <ComponentRef Id="MaestroProgramMenuShortcutComponent"/>
    </Feature>

    <!-- Launch Maestro setup -->
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch MapGuide Maestro now" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
    <CustomAction Id="LaunchApplication" FileKey="file_MAESTROBIN_4" Impersonate="yes" ExeCommand="" Return="asyncNoWait" />
    
    <!-- TODO: Figure out why this does not work...
    <Property Id="WixShellExecTarget" Value="[#comp_MAESTROBIN_5]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" /> 
    -->

    <!-- Set the Add/Remove icon -->
    <Property Id="ARPPRODUCTICON" Value="Maestro.exe" />

    <!-- Remove old versions -->
    <InstallExecuteSequence>
      <RemoveExistingProducts Before='InstallInitialize' />
    </InstallExecuteSequence>

    <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="0.0.0.0" Property="PREVIOUSVERSIONSINSTALLED"  Maximum="99.0.0.0" IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>
    
  </Product>
</Wix>
